<div class="row">
  <div class="col-xs-3">
    <div id="sidebar">
      <div class="clearfix">
        <h3 id="sidebar-title" class="pull-left">Customers</h3>
        <a href="/customer/add" id="add-customer-btn" class="pull-right">
          <i class="fa fa-plus"></i>
        </a>
      </div>

      <ul id="customer-list" ng-repeat="customer in customers">
        <li><a href="/customer/{{customer}}">{{customer.name}}</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-9">
    <div id="dashboard">
      <h2 id="selected-board">Dashboard</h2>
      <form name="taskForm" ng-submit="addTask()" novalidate>
        <div class="row">
          <div class="col-xs-6" ng-class="{ 'has-error' : taskForm.description.$invalid && taskSubmitted }">            
            <input id="task-description" name="description" class="form-control" placeholder="What are you working on?" ng-model="newTask.description" ng-required="true"></input>
            <p ng-show="taskForm.description.$invalid && taskSubmitted" class="help-block">Required field</p>
          </div>
          <div class="col-xs-2" ng-class="{ 'has-error' : taskForm.customer.$invalid && taskSubmitted }">
            <select ng-model="newTask.customer" ng-options="customer as customer.name for customer in customers" class="form-control" ng-required="true" name="customer">
            </select>
            <p ng-show="taskForm.customer.$invalid && taskSubmitted" class="help-block">Required field</p>
          </div>
          <div class="col-xs-1" ng-class="{ 'has-error' : taskForm.start.$invalid && taskSubmitted }">
            <input id="task-start" class="form-control" ng-model="newTask.start" ui-time-mask="short" ng-required="true" name="start"></input>
            <p ng-show="taskForm.start.$invalid && taskSubmitted" class="help-block">Required field</p>
          </div>
          <div class="col-xs-1" ng-class="{ 'has-error' : taskForm.end.$invalid && taskSubmitted }">          
            <input id="task-end" class="form-control" ng-model="newTask.end" ui-time-mask="short" ng-required="true" name="end"></input>
            <p ng-show="taskForm.end.$invalid && taskSubmitted" class="help-block">Required field</p>
          </div>
          <div class="col-xs-2">
            <a class="btn btn-green" ng-click="addTask()">Add</a>
          </div>        
        </div>
      </form>

      <div id="task-list">
        <div class="task-group" ng-repeat="workDay in workDays">
          <div id="task-list-header">
            <h3>{{ workDay.date}}</h3>
            <span>{{ workDay.workTime }}</span>
          </div>
          <div id="task-list-body" >
            <div class="gutter-0 row task-row" ng-repeat="task in workDay.tasks">
              <div class="col-xs-1">
                <input type="checkbox" class="checkbox"></input>
              </div>
              <div class="col-xs-2">
                <span>{{ task.description }}</span>      
              </div>
              <div class="col-xs-2">
                <span class="customer-tag">{{ task.customer.name }}</span>
              </div>
              <div class="col-xs-2">
                <span>{{ task.duration }}</span>
              </div>
              <div class="col-xs-2">
                <span>{{ task.start }}</span> - <span>{{ task.conclusion }}</span> 
              </div>
          </div>
        </div>
        </div>


      </div>
    </div>
  </div>
</div>
