<div class="row">
  <div class="col-xs-3">
    <div id="sidebar">
      <div class="clearfix">
        <h3 id="sidebar-title" class="pull-left">Customers</h3>
        <a href="/customer/add" id="add-customer-btn" class="pull-right">
          <i class="fa fa-plus"></i>
        </a>
      </div>

      <ul id="customer-list" ng-repeat="customer in customers">
        <li><a href="/customer/{{customer}}">{{customer.name}}</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-9">
    <div id="dashboard">
      <h2 id="selected-board">Dashboard</h2>
      <div class="row">
        <div class="col-xs-6">
          <input id="task-description" class="form-control" placeholder="What are you working on?" ng-model="taskDescription"></input>          
        </div>
        <div class="col-xs-2">
          <select ng-model="taskCustomer" ng-options="customer as customer.name for customer in customers" class="dropdown">
          </select>
        </div>
        <div class="col-xs-1">
          <input id="task-start" class="form-control" ng-model="taskStart"></input>
        </div>
        <div class="col-xs-1">          
          <input id="task-end" class="form-control" ng-model="taskEnd"></input> 
        </div>
        <div class="col-xs-2">
          <a class="btn btn-green" ng-click="addTask()">Add</a>
        </div>        
      </div>

      <div id="task-list">
        <div id="task-list-header">
          <h3>Thu, 26 May</h3>
          <span>0h 00min</span>
        </div>
        <div id="task-list-body" >
          <div class="gutter-0 row task-row" ng-repeat="task in tasks">
              <div class="col-xs-1">
                <input type="checkbox" class="checkbox"></input>
              </div>
              <div class="col-xs-2">
                <span>{{ task.description }}</span>      
              </div>
              <div class="col-xs-2">
                <span class="customer-tag">{{ task.customer.name }}</span>
              </div>
              <div class="col-xs-2">
                <span>{{ task.start }}</span> - <span>{{ task.end }}</span> 
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
